.title {
	font-size: 52px;
	line-height: 1.2;
	font-weight: 600;
	color: var(--text-light);
}

.titleWrap {
	position: relative;
}

.titleLine {
	position: absolute;
	top: 0;
	left: -80px;
	width: 60px;
	height: 60px;
	background: radial-gradient(
		circle at center,
		rgba(238, 189, 0, 0.3) 10%,
		transparent 60%
	);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	z-index: 1;
}

.titleLine::after {
	content: '';
	position: absolute;
	left: -101vw;
	top: 50%;
	transform: translateY(-50%);
	width: calc(100vw + 30px);
	height: 1px;
	background: var(--background-light, #fff);
	z-index: 0;
}
