.hero {
  padding: 0;
  background: url("/images/hero.png") center/cover no-repeat;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex: 1;
}

.content {
  flex: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 180px;
}

.title {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--background);
  margin-bottom: 24px;
  text-align: center;
  max-width: 740px;
}

.description {
  font-size: 20px;
  line-height: 1.6;
  color: var(--text-secondary);
  margin-bottom: 32px;
  text-align: center;
  max-width: 680px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.heroImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.featuresRow {
  display: flex;
  justify-content: center;
  gap: 8px;
  position: relative;
  z-index: 2;
  margin-bottom: -100px;
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .hero {
    min-height: 700px;
  }

  .content {
    max-width: 100%;
    padding: 80px 0 40px;
  }

  .buttons {
    justify-content: center;
  }

  .title {
    font-size: 36px;
  }

  .featuresRow {
    margin-bottom: -20px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 0 0 40px;
    background-attachment: scroll;
  }

  .description {
    font-size: 16px;
  }

  .buttons {
    flex-direction: column;
  }

  .primaryButton,
  .secondaryButton {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .featuresRow {
    gap: 20px;
    margin-top: 24px;
    flex-wrap: wrap;
  }
}
