.card {
  border-radius: 20px;
  padding: 24px 20px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.08)
  );
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08);

  &:hover {
    .cardCover {
      opacity: 0.8;
    }
  }
}

.cardFeatured {
  .cardTitle {
    font-size: 30px;

    @media (max-width: 1024px) {
      font-size: 24px;
    }
  }
}

.cardCover {
  position: relative;
  margin-bottom: 16px;
  border-radius: 16px;
  border: 1px solid var(--border-color-30);
  overflow: hidden;
  transition: opacity 0.2s ease;
  width: 100%;
  aspect-ratio: 16/9; /* Fixed aspect ratio for all images */
}

.cardCoverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cardContent {
  display: grid;
  gap: 12px;
}

.cardTitle {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: bold;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

.cardDate {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--text-secondary);
}

.cardDescription {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  color: var(--text-secondary);
}
