.searchInputWrapper {
  position: relative;
  display: flex;
  max-width: 400px;
  width: 100%;
  align-items: center;
  gap: 12px;
}

.searchInputIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.searchInput {
  padding-left: 42px !important;
}
